# Database settings
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=webrtc_db
MARIADB_USER=user
MARIADB_PASSWORD=password

# Email settings
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password

# WebRTC settings
# The local IP address of the machine running Docker
HOST_IP=192.168.1.50 

# TURN server settings
TURN_PASSWORD=turnpassword
TURN_URL=turn:${HOST_IP}:3478
TURN_REALM=${HOST_IP}
TURN_EXTERNAL_IP=${HOST_IP}

# Admin user settings
app.admin.initial-password=admin

# Frontend settings
VITE_HMR_HOST=${HOST_IP}
VITE_API_URL=https://${HOST_IP}/api
VITE_SIGNAL_URL=wss://${HOST_IP}/signal
