version: '3.8'

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx_server
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx-docker/conf.d:/etc/nginx/conf.d:ro
      - ./nginx-docker/ssl:/etc/nginx/ssl:ro
    depends_on:
      - backend
      - frontend # Add frontend dependency
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend_server
    restart: always
    environment:
      - MARIADB_HOST=mariadb
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
    volumes:
      - ./backend/src:/app/src
    depends_on:
      - mariadb
    networks:
      - app-network

  frontend: # New frontend service
    build:
      context: .
      dockerfile: frontend/Dockerfile.dev
    container_name: frontend_dev_server
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Anonymous volume to prevent host node_modules from overriding container's
    networks:
      - app-network
    depends_on:
      - backend

  mariadb:
    image: mariadb:latest
    container_name: mariadb_server
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  mariadb_data:

networks:
  app-network:
    driver: bridge
